################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/out/build/x64-Debug
/.vs
/src/Header.h
